
@{
    ViewData["Title"] = "Index";
}

<img src="C:\_Znatok\POLYTECH\SUPUS\src\SUPUS.Web\wwwroot\Content\Images\ButtonIn.png" border="0" class="img-responsive">

<a class="btn-sm btn-primary" style="background-color: #ed1c24;" asp-controller="Action" asp-action="Present" asp-route-id="1"></a>

