
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="C:\_Znatok\POLYTECH\SUPUS\src\SUPUS.Web\wwwroot\Content\Images\ButtonIn.png" alt="dima loh" class="img-responsive" />
    
        </div>
    </div>
</div>

@*<img src="/src/SUPUS.Web/wwwroot/Content/Images/ButtonIn.png">*@
<a class="btn-sm btn-primary" style="background-color: #ed1c24;" asp-controller="Action" asp-action="Present" asp-route-id="1">Button</a>
<a class="btn-sm btn-primary" style="background-color: #ed1c24;" asp-controller="Action" asp-action="Absent" asp-route-id="1">Button</a>
