@using SUPUS.Abstraction
@model Employee
@{
    ViewBag.Title = "Изменить сотрудника";
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div class="container col-6 offset-3" style="margin-top:120px">
        <div class="card border-secondary">
            <div class="card-header text-white" style="background-color: #ed1c24;">
                <strong>Изменить сотрудника</strong>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Свойство</th>
                        <th>Значение</th>
                    </tr>
                    <tr>
                        <td><strong>Имя</strong></td>
                        <td><input class="form-control" type="text" asp-for="FirstName" required/></td>
                    </tr>
                    <tr>
                        <td><strong>Отчество</strong></td>
                        <td><input class="form-control" type="text" asp-for="MiddleName" /></td>
                    </tr>
                    <tr>
                        <td><strong>Фамилия</strong></td>
                        <td><input class="form-control" type="text" asp-for="LastName" required/></td>
                    </tr>
                    <tr>
                        <td><strong>Почта</strong></td>
                        <td><input class="form-control" type="text" asp-for="Email" required/></td>
                    </tr>
                    <tr>
                        <td><strong>Смена</strong></td>
                        <td>
                            <select class="form-control" asp-for="Shift.Begin" required>
                                @foreach (var shift in ViewBag.Shifts)
                                {
                                    <option>@String.Format("{0} ({1} - {2})", shift.Number, shift.Begin, shift.End)</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Сохранить</strong></td>
                        <td><input type="submit" class="btn-sm btn-success" value="Update" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>